.container {
  width: 100%;
  height: calc(100vh - 27px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bottomBox {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: transparent;
  background-color: black;
  color: white;
  flex-wrap: wrap;
}

/* Mobile screen layout (width 768px or less) */
@media (max-width: 768px) {
  .bottomBox {
    gap: 20px;
  }
}
