.membersCon {
  height: 300px;
  overflow: auto;
}
.expenseCon {
  height: calc(100vh - 130px);
  padding-right: 10px;
  overflow: auto;
}

@media only screen and (max-width: 1024px) {
  .expenseCon {
    height: auto;
  }
  .cardHeader {
    padding: 0px !important;
  }
}
