.container {
  display: flex;
  height: 100%;
  overflow: auto;
  gap: 10px;
}

.detailsCon {
  width: 25%;
}
.pairsCon {
  width: 30%;
}
.expCon {
  width: 45%;
}

.expBox {
  height: 85%;
  /* border: 1px solid red; */
  overflow: auto;
}
.accordion {
  margin-top: 0px !important;
}

@media only screen and (max-width: 1024px) {
  .cardHeader {
    padding: 0px !important;
  }
  .container {
    flex-direction: column;
    position: relative;
  }
  .detailsCon {
    /* height: 100%; */
    width: 100%;
    /* position: absolute; */
    /* z-index: 11; */
  }
  .pairsCon {
    /* margin-top: 60px; */
    width: 100%;
    /* position: absolute; */
    /* z-index: 10; */
  }
  .expCon {
    /* margin-top: 120px; */
    width: 100%;
    height: calc(100% - 61px);
  }
  .expBox {
    height: 87%;
    overflow: auto;
  }
}

@media only screen and (max-width: 768px) {
  .expBox {
    padding: 12px !important;
  }
}
