.modal {
  backdrop-filter: blur(10px);
  /* background-color: red; */
  /* padding: 10px; */
}
.loader{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}