.container {
  width: 500px;
  height: 70vh;
  overflow: auto;
  margin-top: 10px;
}
.container::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}
