.container > div:first-child {
  display: flex;
  justify-content: space-between;
}
.deleteIcon {
  margin-right: 10px;
}
.paidBox {
  margin-right: 10px;
  display: flex;
  // border: 1px solid red;
  width: 200px;
}
.paidHead {
}
.paidName {
  font-weight: bold;
  margin-left: 10px;
}

.body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(204, 204, 204);
  margin-top: 5px;
  padding-bottom: 5px;
}
.userBox {
  display: flex;
  align-items: center;
}
.img {
  width: 40px;
  height: 40px;
}
.name {
  margin-left: 10px;
  font-weight: bold;
}
.bodyAmount {
  font-weight: bold;
  font-size: 20px;
}
