.container > div:first-child {
  display: flex;
  justify-content: space-between;
}
.deleteIcon {
  margin-right: 10px;
}
.paidBox {
  margin-right: 10px;
  display: flex;
  // border: 1px solid red;
}
.paidHead {
  display: flex;
  justify-content: center;
  align-items: center;
}
.paidName {
  font-weight: bold;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(204, 204, 204);
  margin-top: 5px;
  padding-bottom: 5px;
}
.userBox {
  display: flex;
  align-items: center;
}
.img {
  width: 40px;
  height: 40px;
}
.name {
  margin-left: 10px;
  font-weight: bold;
}
.bodyAmount {
  font-weight: bold;
  font-size: 20px;
}

@media only screen and (min-width: 1024px) {
  /* Styles for desktops */
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .paidBox {
    font-size: 14px;
  }
  .paidName {
    margin-left: 5px;
  }
  .img {
    width: 30px;
    height: 30px;
  }
  .name {
    font-size: 14px;
  }
  .bodyAmount {
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .img {
    width: 30px;
    height: 30px;
  }
  .name {
    font-size: 12px;
  }
  .bodyAmount {
    font-size: 14px;
  }
  .paidBox {
    font-size: 13px;
  }
}
