.select{
    width: 100%;
    font-size: 16px;
    padding: 5px;
    border-radius: 4px;
    background: transparent;
    border-color: #45f3ff;
    color: white;
}
.option{
    padding: 5px;
    color: black;
}
.select:focus{
    outline: none;
}