.bdgeIcon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

@media only screen and (max-width: 1024px) {
  .cardHeader {
    padding: 0px !important;
  }
  .container {
    padding: 18px;
  }
}
