.button {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5px 10px; */
  border-radius: 4px;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  cursor: pointer;
  color: white;
  background-color: rgb(183, 6, 247);
}

.button::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  /* background-image: linear-gradient(to right, #03251f 0%, #cf47f9 100%); */
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.button:hover::before {
  width: 9em;
}
@media screen and (max-width: 400px) {
  .button {
    font-size: 12px;
    width: 70px;
    height: 25px;
  }
}
