.container {
  display: flex;
  /* border: 1px solid red; */
  width: 90%;
  margin-left: 20px;
  margin-top: 10px;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px dashed rgb(9, 93, 120);
}
.subCon {
  width: 24%;
  /* border: 1px solid green; */
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.name {
  color: rgb(240, 48, 211);
  font-size: 24px;
}
.amount {
  color: rgb(48, 240, 125);
  font-size: 24px;
}
.placeholder {
  font-size: 10px;
  color: rgb(142, 142, 142);
}
@media screen and (max-width:400px) {
  .name {
    font-size: 20px;
  }
  .amount {
    color: rgb(48, 240, 125);
    font-size: 20px;
  }
  .subCon{
    font-size: 10px;
  }
}