.container {
  width: 100%;
  display: flex;
  height: calc(100vh - 90px);
  overflow: auto;
}
.leftBox {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  width: 40%;
  /* border: 1px solid red; */
  padding-top: 180px;
}
.rightBox {
  width: 60%;
  /* border: 1px solid green; */
}

@media screen and (max-width: 1015px) {
  .leftBox {
    width: 60%;
    /* border: 1px solid red; */
  }
  .rightBox {
    width: 40%;
    /* border: 1px solid green; */
  }
}
@media screen and (max-width: 950px) {
  .container{
    display: block;
  }
  .leftBox {
    width: 99.5%;
    height: 100%;
    /* padding-top: 100px; */
    /* border: 1px solid red; */
  }
  .rightBox {
    width: 100%;
    /* border: 1px solid green; */
  }
}
