.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leftBox {
  display: flex;
  align-items: center;
}
.heading {
  font-weight: bold;
  font-size: 28px;
  margin-left: 10px;
}
.icon {
  margin-left: 10px;
  border-radius: 2px;
}
.icon img {
  width: 30px !important;
  height: 30px !important;
}
.body {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: space-between;
  // border: 1px solid red;

  background: rgb(210, 240, 221);
  background: linear-gradient(90deg, rgba(210, 240, 221, 1) 0%, rgba(189, 181, 252, 1) 100%);
}
.leftContainer {
  width: 25%;
  height: 100%;
  overflow: auto;
  // border: 1px solid red;
}
.centerContainer {
  // display: none;
  width: 30%;
  height: 100%;
  overflow: auto;
}
.rightContainer {
  // display: none;
  width: 40%;
  height: 100%;
  overflow: hidden;
}
.pairContainer {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 10px;
  font-weight: bold;
  font-size: 1.7vw;
}
.sender {
  flex: 1;
}
.arrow {
  flex: 1;
}
.receiver {
  flex: 1;
}
.amount {
  text-align: center;
  flex: 1;
}
.rightBox {
  display: flex;
  align-items: center;
}
.btn {
  background-color: rgb(104, 2, 147);
  color: white;
  text-align: center;
  border-radius: 20px;
  font-size: 16px;
  padding: 5px 20px;
  cursor: pointer;
  margin-right: 20px;
}
.deleteIcon {
  margin-right: 20px;
  cursor: pointer;
}
.pairList {
  height: 85vh;
  overflow: auto;
}
::-webkit-scrollbar {
  width: 0px;
}
.boxHead {
  font-weight: bold;
  font-size: 24px;
  margin-left: 10px;
  margin-top: 10px;
}

@media only screen and (min-width: 1024px) {
  .pairContainer {
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .leftContainer {
    width: 23%;
    height: 100%;
    overflow: auto;
    // border: 1px solid red;
  }
  .centerContainer {
    // display: none;
    width: 35%;
    height: 100%;
    overflow: auto;
  }
  .rightContainer {
    // display: none;
    width: 38%;
    height: 100%;
    overflow: hidden;
  }
}

@media only screen and (max-width: 767px) {
  .body {
    display: block;
    height: calc(100vh - 50px);
    overflow: auto;
  }
  .leftContainer {
    margin: auto;
    width: 90%;
    height: auto;
  }
  .centerContainer {
    margin: auto;
    width: 90%;
    height: auto;
  }
  .rightContainer {
    margin: auto;
    width: 90%;
    height: auto;
  }
  .pairList {
    height: auto;
  }
  .pairContainer {
    font-size: 16px;
    margin: 20px 10px 0px 10px;
  }
  .heading {
    font-size: 18px;
  }
  .icon img {
    width: 25px !important;
    height: 25px !important;
  }
  .btn {
    font-size: 12px;
    padding: 5px 10px;
    margin-right: 10px;
  }
  .deleteIcon {
    margin-right: 10px;
  }
  .boxHead {
    font-size: 20px;
  }
  .rightContainer {
    border-top: 2px dashed grey;
    margin-top: 10px;
  }
  .centerContainer {
    border-top: 2px dashed grey;
  }
}
