.container {
  width: 100%;
  height: calc(100vh - 10px);
  padding-top: 10px;

  overflow: hidden;
}
.body {
  width: 100%;
  height: calc(90vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftBox {
  margin-top: 20px;
  width: 35%;
  height: 90%;
}
.rightBox {
  width: 35%;
  height: 90%;
  margin-top: 20px;
}
