.container {
  width: 100%;
  height: 100vh;
  padding-top: 10px;

  overflow: hidden;
  background: rgb(195, 221, 239);
  background: linear-gradient(90deg, rgba(195, 221, 239, 1) 0%, rgba(217, 219, 251, 1) 100%);
}
.body {
  width: 100%;
  height: calc(90vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.leftBox {
  margin-top: 20px;
  width: 35%;
  height: 90%;
}
.rightBox {
  width: 35%;
  height: 90%;
  margin-top: 20px;
}
@media only screen and (min-width: 1024px) {
  /* Styles for desktops */
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .leftBox {
    width: 45%;
  }
  .rightBox {
    width: 40%;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    overflow: hidden;
    height: auto;
  }
  .body {
    height: calc(100vh - 50px);
    overflow: hidden;
  }
  .leftBox {
    width: 90%;
    height: 100%;
    margin-top: 40px;
  }
  .rightBox {
    display: none;
  }
}
