.btn {
  border: none;
  font-family: var(--fontFamily);
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 4px;
}
