.btn {
  border: none;
  font-family: var(--fontFamily);
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
