.container {
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}
