.container {
  width: 100%;
  height: 76vh;
  overflow: auto;
}
.activeTab {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px;
}
.inActiveTab {
  background-color: white;
  color: black;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
}
.pairsBox {
  /* border: 1px solid red; */
  max-height: 450px;
  overflow: auto;
  padding-right: 5px;
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 15px;
  }
  .pairsBox {
    max-height: none;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    height: auto;
    overflow: visible;
  }
  .pairsBox {
    max-height: none;
    overflow: visible;
  }
}
