.drawer {
  // border: 1px solid red;
  height: 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='100%' height='100%' preserveAspectRatio='none' viewBox='0 0 200 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1088%26quot%3b)' fill='none'%3e%3crect width='200' height='560' x='0' y='0' fill='rgba(2%2c 48%2c 74%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c214.817C41.436%2c222.773%2c87.189%2c213.563%2c121.216%2c188.615C154.585%2c164.15%2c160.313%2c118.546%2c180.541%2c82.451C203.041%2c42.302%2c252.391%2c10.198%2c246.803%2c-35.485C241.229%2c-81.051%2c189.316%2c-104.074%2c154.12%2c-133.546C124.245%2c-158.563%2c94.547%2c-183.695%2c57.07%2c-194.363C19.793%2c-204.974%2c-19.191%2c-202.781%2c-56.845%2c-193.596C-95.882%2c-184.073%2c-136.247%2c-171.227%2c-162.494%2c-140.802C-188.719%2c-110.402%2c-188.57%2c-67.364%2c-199.151%2c-28.634C-211.427%2c16.303%2c-253.418%2c64.819%2c-229.606%2c104.857C-204.999%2c146.233%2c-138.006%2c126.389%2c-94.588%2c147.182C-58.907%2c164.27%2c-38.852%2c207.358%2c0%2c214.817' fill='%23022539'%3e%3c/path%3e%3cpath d='M200 714.297C229.24 709.556 259.049 706.662 283.65999999999997 690.177 308.001 673.873 322.846 648.22 336.972 622.553 352.13 595.012 372.03700000000003 567.006 368.65 535.752 365.23400000000004 504.229 340.562 480.13599999999997 319.01800000000003 456.871 298.087 434.26800000000003 274.563 414.872 246.007 403.31399999999996 215.23 390.85699999999997 182.36 383.006 149.582 388.293 114.206 393.999 76.389 405.582 54.775000000000006 434.16200000000003 33.44800000000001 462.363 39.156000000000006 501.308 37.406000000000006 536.622 35.816 568.72 35.141999999999996 600.194 45.03299999999999 630.771 55.881 664.307 65.84800000000001 703.742 96.875 720.465 127.815 737.141 165.305 719.923 200 714.297' fill='%23033b5b'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1088'%3e%3crect width='200' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  z-index: 999;
}

.background {
  width: 100%;
  height: 100%;
}
.header_items {
  position: absolute;
  // border: 1px solid red;
  width: 100%;
}
.footer_items {
  position: absolute;
  bottom: 0;
  width: 99%;
}

@media only screen and (max-width: 768px) {
}

/* Tablets and small desktops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

/* Medium to large desktops */
@media only screen and (min-width: 1025px) {
}
