.container {
  width: 100%;
  background-color: white;
  z-index: 50;
  border-radius: var(--borderRadius);
  box-shadow: 0 4px 12px rgba(108, 99, 255, 0.08); /* subtle themed shadow */
  padding-top: env(safe-area-inset-top); /* Added for iPhone safe area */
}
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
