.container {
  width: 98.2%;
  position: fixed;
  background-color: white;
  z-index: 50;
  /* box-shadow: var(--boxShadow); */
  border-radius: var(--borderRadius);
  /* border: 1px solid gray; */
}
@media (max-width: 768px) {
  .container {
    width: 96%;
  }
}
