/* Wrapper to center the loader */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin-top: 100px;
}

/* Loader styles */
.loader {
  position: relative; /* No absolute positioning */
}

.loader:before {
  content: "";
  display: block;
  width: 5em;
  height: 0.5em;
  border-radius: 0.5em;
  animation: slide 2.5s infinite;
}

@keyframes slide {
  0% {
    width: 5em;
    box-shadow:
      1em -0.5em #2b546b,
      -1em 0.5em #aabbc4;
  }
  35% {
    width: 0.5em;
    box-shadow:
      0 -0.5em #2b546b,
      0 0.5em #aabbc4;
  }
  70% {
    width: 0.5em;
    box-shadow:
      -1em -0.5em #2b546b,
      1em 0.5em #aabbc4;
  }
  100% {
    width: 5em;
    box-shadow:
      1em -0.5em #2b546b,
      -1em 0.5em #aabbc4;
  }
}
