.container {
  /* background-color: red !important; */
  background-image: linear-gradient(
    to right,
    rgba(51, 230, 246, 0.873),
    rgba(128, 6, 204, 0.873)
  );
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 350px;
  /* background-color: red; */
  /* border: 1px solid red; */
}
.list {
  display: flex;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(233, 233, 233);
  justify-content: space-between;
  margin-top: 10px;
  /* width: 80%; */
}
.img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.subBox {
  display: flex;
  align-items: center;
}
.amount {
  font-size: 20px;
  font-weight: 500;
}
/* .paid{color: white;} */
.amountBox {
  /* border: 1px solid red; */
  width: 50%;
  height: 100%;
}
.paidBox {
  /* border: 1px solid green; */
  width: 50%;
  margin-left: 70px;
}

.mainBox {
 display: flex;
 align-items: center;
 justify-content: space-evenly;
}
.deleteBox {
cursor: pointer;
}
