.container {
  display: flex;
  
  /* justify-content: space-evenly; */
}
.spliter {
  width: 20%;
  /* border: 1px solid red; */
}
.accordian {
  width: 38%;
  height: auto;
  border-left: 1px dashed gray;
  /* overflow: hidden; */

}
.accordianBox {
  margin-top: 20px;
  /* width: 45%; */
  /* border: 1px solid red; */
}
.splitCon {
  width: 45%;
  /* margin-top: 25px; */
  /* border: 1px solid red; */
  height: auto;
  overflow: auto;
  border-left: 1px dashed gray;
  margin-left: 10px;
}
.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.noData {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}
.filterCon {
  margin-left: 20px;
  /* border: 1px solid red; */
  /* width: auto; */
  /* max-width: 100%; */
  display: flex;
  /* justify-content: space-evenly; */
  align-items: flex-end;
  justify-content: flex-start;
  padding: 10px;
background-color: rgb(49, 47, 47);
border-radius: 4px;
width: 87%;
  /* width: 60%; */
}
.cross {
  cursor: pointer;
  margin-left: 10px;
  /* border: 1px solid red; */
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 1300px) {
  .spliter {
    width: 23%;
  }
  .accordian {
    width: 40%;
  }
  .splitCon {
    width: 40%;
    /* border: 1px solid red; */
  }

}
@media screen and (max-width: 1200px) {
  .container{
    flex-wrap: wrap;
  }
  .spliter {
    width: 30%;
    margin-left: 10px;
    /* border: 1px solid red; */
  }
  .splitCon {
    width: 48%;
    /* margin-left: 120px; */
    /* border: 1px solid red; */
  }
  .accordian {
    max-height: 800px;
    overflow: auto;
    width:100%;
    border-top: 1px dashed gray;
    border-left:none;
  }

}
@media screen and (max-width: 800px) {
  .container{
    flex-wrap: wrap;
  }
  .spliter {
    width: 40%;
    margin-left: 10px;
    /* border: 1px solid red; */
  }
  .splitCon {
    width: 55%;
    /* margin-left: 120px; */
    /* border: 1px solid red; */
  }
  .accordian {
    max-height: 800px;
    overflow: auto;
    width:100%;
  }

}
@media screen and (max-width: 600px) {
  .container{
    display: block;
  }
  .spliter {
    width:90%;
    /* border: 1px solid red; */
  }
  .splitCon {
    width: 95%;
    margin-top: 40px;
    border-left: none;
    border-top: 1px dashed gray;
    padding-top: 10px;
    /* margin-left: 120px; */
    /* border: 1px solid red; */
  /* max-height: 500px; */
  }
  .accordian {
    max-height: 600px;
    overflow: auto;
    width:95%;
    /* border: 1px solid red; */
  }
  .accordianBox {
    margin-top: 20px;
    width: 99%;
    /* border: 1px solid red;  */
    overflow: hidden;
  }
}
