.container {
  width: 95%;

  display: flex;
  margin: 10px;
  justify-content: space-between;
}
.avatar {
  width: 30px;
  height: 30px;
}
.sender {
  flex: 1;
  display: flex;
  align-items: center;
}
.arrow {
  flex: 1;
  display: flex;
  justify-content: center;
}
.receiver {
  flex: 1;
  display: flex;
  align-items: center;
}
.amount {
  flex: 1;
  text-align: center;
  font-size: 1.5vw;
  font-weight: bold;
  color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}
.name {
  margin-left: 10px;
  font-size: 1.3vw;
}
@media only screen and (min-width: 1024px) {
  /* Styles for desktops */
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .amount {
    font-size: 16px;
  }
  .name {
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .avatar {
    width: 25px;
    height: 25px;
  }
  .amount {
    font-size: 16px;
  }
  .name {
    font-size: 14px;
  }
}
